<div class='content'>
  <p class='content__suptitle'>explore the Nature Beauty</p>
  <h1 class='content__title'><span>Discover</span> Wonderful Indonesia</h1>
  <a href='' class='content__scroll'>
    Scroll down
    <svg class='content__scroll_icon'>
      <use xlink:href='./assets/icons/sprite.svg#arrow-down'></use>
    </svg>
  </a>
  <div class='content__follow'>
    <span class='content__follow_text'>Follow us</span>
    <a href='' class='content__follow_link'>
      <svg class='content__follow_icon'>
        <use xlink:href='./assets/icons/sprite.svg#instagram'></use>
      </svg>
    </a>
    <a href='' class='content__follow_link'>
      <svg class='content__follow_icon'>
        <use xlink:href='./assets/icons/sprite.svg#twitter'></use>
      </svg>
    </a>
    <a href='' class='content__follow_link'>
      <svg class='content__follow_icon'>
        <use xlink:href='./assets/icons/sprite.svg#facebook'></use>
      </svg>
    </a>
  </div>
</div>