<section class='culture'>
  <div class='container'>
    <div class='culture__content'>
      <div class='culture__description description'>
        <p class='description__suptitle'>INDONESIAN CULTURE</p>
        <h2 class='description__title'>Our culture here is very friendly to people</h2>
        <p class='description__text'>
          known for his politeness, manners and gentleness. This becomes a
          characteristic when they mingle with other tribes and become basic
          traits that are passed down by their ancestors.
        </p>
        <a href='' class='description__more'>
          <span class='description__more_text'>read more</span>
          <svg class='description__more_icon'>
            <use xlink:href='./assets/icons/sprite.svg#arrow_downward'></use>
          </svg>
        </a>
      </div>
      <picture class='culture__image'>
        <source src='./img/01.avif'>
        <source src='./img/01.webp'>
        <img src='./img/01.jpg' alt='mounts'>
      </picture>
    </div>
  </div>
</section>