<footer class='footer'>
  <div class='container'>
    <div class='footer__up'>
      <img class='footer__logo' src='./img/logo.svg' alt='logo' />
      <div class='footer__buttons'>
        <span>Ready to explore?</span>
        <button class='btn-reset'>Get started</button>
      </div>
    </div>
    <div class='footer__links'>
      <div class='footer__vacation vacation'>
        <h2 class='vacation__title'>Let's go on vacation, Make your day</h2>
        <form action='' class='vacation__form'>
          <input type='text' class='vacation__input' placeholder='Email address'>
          <button class='vacation__submit'>
            <svg class='vacation__submit_img'>
            <use xlink:href='./assets/icons/sprite.svg#keyboard-arrow-right'></use>
            </svg>
          </button>
        </form>
      </div>
      <div class='footer__services'>
        <ul class='footer__list list-reset'>
          <li class='footer__list_title'>Services</li>
          <li><a href='' class='footer__link'>Email Marketing</a></li>
          <li><a href='' class='footer__link'>Campaigns</a></li>
          <li><a href='' class='footer__link'>Branding</a></li>
          <li><a href='' class='footer__link'>Offline</a></li>
        </ul>
      </div>
      <div class='footer__about'>
        <ul class='footer__list list-reset'>
          <li class='footer__list_title'>About</li>
          <li><a href='' class='footer__link'>Our Story</a></li>
          <li><a href='' class='footer__link'>Benefits</a></li>
          <li><a href='' class='footer__link'>Team</a></li>
          <li><a href='' class='footer__link'>Careers</a></li>
        </ul>
      </div>
      <div class='footer__help'>
        <ul class='footer__list list-reset'>
          <li class='footer__list_title'>Help</li>
          <li><a href='' class='footer__link'>FAQs</a></li>
          <li><a href='' class='footer__link'>Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class='footer__socials socials'>
      <div class='socials__links'>
        <a href='' class='socials__terms'>Terms & Conditions</a>
        <a href='' class='socials__policy'>Privacy Policy</a>
      </div>
      <div class='socials__icons'>
        <a href='' class='socials__icon'>
          <svg class='socials__icon_img socials__icon_facebook'>
          <use xlink:href='./assets/icons/sprite.svg#facebook'></use>
          </svg>
        </a>
        <a href='' class='socials__icon'>
          <svg class='socials__icon_img socials__icon_twitter'>
          <use xlink:href='./assets/icons/sprite.svg#twitter'></use>
          </svg>
        </a>
        <a href='' class='socials__icon'>
          <svg class='socials__icon_img socials__icon_instagram'>
          <use xlink:href='./assets/icons/sprite.svg#instagram'></use>
          </svg>
        </a>
      </div>
    </div>
    <div class='footer__down'>
      Copyright 2021 QWERy
    </div>
  </div>
</footer>
