<header class='header'>
  <div class='header__logo'>
    <img src='./img/logo.svg' alt='logo'>
  </div>
  <ul class='header__menu'>
    <li class='header__menu_item'>
      <a href='' class='header__menu_link'>Information</a>
    </li>
    <li class='header__menu_item'>
      <a href='' class='header__menu_link'>About us</a>
    </li>
    <li class='header__menu_item'>
      <a href='' class='header__menu_link'>Culture</a>
    </li>
  </ul>
  <div class='header__search'>
    <svg class='header__search_icon'>
      <use xlink:href='./assets/icons/sprite.svg#cart'></use>
    </svg>
    <p class='header__search_text'>Search</p>
  </div>
</header>