.culture {
  margin-bottom: 250px;

  &__content {
    position: relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  &__image {
  }

  &__description {
    width:100%;
    max-width:630px;
  }
}